/* @media screen and (max-width: 500px) { */
  
  .title {
    font-size: 2em;
    margin: 0;
  }
  
  .landingPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-color: #97E7F7;
  }

  .logoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: 3em;
  }

  .logo {
    width: 15em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 40%;
    width: 80%;
  }

  .currentLocal {
    margin-top: 4em;
    width: 60%;
    margin: 2em; 
    border-radius: 2em;
    height: 2em;
    background-color: #FDEF8C;
  }

  .locationIcon {
    height: 1em;
    width: 1em;
  }

  .chooseLocal {
    display: flex;
    flex-direction: row;
    width: 60%;
    border: 1px solid black;
    border-radius: 2em;
     background-color: #FBF7D8;
  }

  input {
    width: 89%;
    border-radius: 2em;
    border: none;
    height: 2em;
    text-align: center;
    background-color: #FBF7D8;
    
   
  }

  .searchButton {
    align-self: center;
    height: 1em;
    width: 1em;
    background-color: #FBF7D8;
    margin: .4%;
    margin-right: 2%;
  }
/* } */