@media screen and (max-width: 500px) {
  
  .title {
    font-size: 2em;
    margin: 0;
  }
  
  .landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-color: #97E7F7;
  }

  .sunWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sun {
    width: 13em;
    padding: 10%;
    // border-radius: 47px;
    // background: #97E8F7;
    // box-shadow: 5px 5px 10px #8cd8e6,
    // -5px -5px 10px #a2f8ff;
    border-radius: 18px;
    background: #97E8F7;
    box-shadow: inset -8px -8px 17px #6da7b2,
    inset 8px 8px 17px #c1ffff;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 25%;
    width: 80%;
    margin-top: 5%;
  }

  .currentLocal {
    margin-top: 4em;
    width: 60%;
    margin: 1em; 
    border-radius: 2em;
    height: 3.5em;
    border: none;
    font-size: 1.1em;
    border-radius: 24px;
    background: linear-gradient(145deg, #a2f7ff, #88d0de);
    box-shadow: 7px 7px 14px #83c9d7,
    -7px -7px 14px #abffff;
  }

  .locationIcon {
    height: 1em;
    width: 1em;
  }

  .chooseLocal {
    display: flex;
    flex-direction: row;
    width: 60%;
    border-radius: 2em;
    /* background-color: #FBF7D8; */
    border-radius: 38px;
    background: #97E8F7;
    box-shadow: inset 5px 5px 13px #7abcc8,
    inset -5px -5px 13px #b4ffff;
    
  }

  input {
    width: 89%;
    border-radius: 3.2em;
    border: none;
    height: 3.5em;
    font-size: 1.1em;
    text-align: center;
    /* background-color: #FBF7D8; */
    border-radius: 38px;
    background: #97E8F7;
    box-shadow: inset 5px 5px 13px #7abcc8,
    inset -5px -5px 13px #b4ffff;
  }

  .searchButton {
    align-self: center;
    height: 1em;
    width: 1em;
    margin: .4%;
    margin-right: 2%;
  }
}