* {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

.root {
  background-color: #97E7F7;
}

.App {
  text-align: center;
}

.loading {
  margin-top: 40vh;
  font-size: xx-large;
}
