* {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-to-landing-page {
  margin-bottom: 13vh;
  width: 40vw;
  border-radius: 2em;
  align-self: center;
  height: 2;
  background: linear-gradient(145deg, #94e5ec, #88d0de);
  box-shadow: 7px 7px 14px #5ea1af, -7px -7px 14px #abf7f7;
  border: none;
}
