.saved-local-section { 
  display: flex;

}
.linkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: .5%;
  height: 7vh;
  border-radius: 15px;
  background-color: #165764;
  box-shadow: inset 1px 3px 13px #1c2c2f91,
  inset -1px -6px 13px #ffffff59;

    .location {
      font-size: 1em;
      color: #cfcdcd;
      justify-content: center;
      align-self: center;
      width: 100%;
      text-align: center;
    }
}

.iconWrapper {
  display: flex;
  justify-content: space-evenly;
}

.delete-icon {
  justify-self: center;
  align-self: center;
  height: 1em;
  width: 1em;
  position: relative;
  bottom: 10;
  top: 10;
}

@media screen and (max-width: 500px) {
  .savedCard {
      .location {
        margin-left: 3vw;
    }
  }

}