.main-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.location-name-temp-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.location-and-fav-container {
  display: flex;
  flex-direction: column;
}

.location-container {
  display: flex;
}

.location-name {
  font-size: large;
}

.location-icon {
  height: 5vh;
}

.temp-container {
  display: flex;
}

.aqi-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
}

.aqi-number {
  font-size: 9vh;
  border-style: solid;
  border-radius: 50%;
  line-height: 50vw;
  width: 50vw;
  height: 50vw;
}

.additional-info-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-row-gap: 4vh;
  justify-items: center;
}

.additional-info {
  display: flex;
}

.icon {
  height: 5vh;
  margin-right: 1vw;
}

.GOOD {
  background-color: #80FF72;
}

.MODERATE {
  background-color: #FFF07C;
}

.UNHEALTHY.FOR.SENSITIVE.GROUPS  {
  background-color: #FFB347;
}

.UNHEALTHY {
  background-color: #E58C8A;
}

.VERY.UNHEALTHY {
  background-color: #A24857;
}

.HAZARDOUS {
  background-color: #966FD6;
}
