.main-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #97E7F7;
  height: 90vh;
}

.location-name-temp-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: auto;
  margin-top: 2vh;
}

.location-details {
  display: flex;
}

.location-and-fav-container {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}

.location-name {
  font-size: large;
  margin: 0
}

.choose-diff-location {
  text-decoration: underline;
  color: black;
  font-size: 9pt;
  transform: translate(.7rem, -.5rem);
}

.location-icon {
  height: 5vh;
}

.temp-container {
  display: flex;
}

.temperature {
  margin-right: 1rem;
}

.aqi-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
  border-radius: 38px;
  background: #97E8F7;
  box-shadow: inset 1px 3px 13px #1c2c2f57, inset -1px -6px 13px #ffffff8a;
  padding: 1vh;
  padding-bottom: 2vh;
}

.aqi-number {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 9vh;
  border-radius: 50%;
  line-height: 45vw;
  width: 45vw;
  box-shadow: inset -5px -5px 10px #4044402e, inset 5px 5px 10px #ffffff5e;
}

.aqi-level {
  font-size: 25pt;
  margin: 1rem;
}

.additional-info-container {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-row-gap: 4vh;
  justify-items: center;
  margin-bottom: 1vh;
  border-radius: 30px;
  background: #97E8F7;
  box-shadow: inset 1px 3px 13px #1c2c2f45, inset -5px -6px 13px #e1faff73;
  height: 20vh;
  width: 90vw;
  padding-top: 2vh;
}

.additional-info {
  display: flex;
}

.icon {
  height: 5vh;
  margin-right: 1vw;
}

.GOOD {
  background-color: #80FF72;
}

.MODERATE {
  background-color: #FFF07C;
}

.UNHEALTHY.FOR.SENSITIVE.GROUPS  {
  background-color: #FFB347;
}

.UNHEALTHY {
  background-color: #E58C8A;
}

.VERY.UNHEALTHY {
  background-color: #A24857;
}

.HAZARDOUS {
  background-color: #966FD6;
}
