p {
  margin: 0;
  font-size: large;
  margin-top: 1vh;
}

.main-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #97E7F7;
  height: 90vh;
}

.location-name-temp-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 7vh;
  margin-top: 2vh;
}

.location-and-fav-container {
  display: flex;
  flex-direction: column;
}

.location-container {
  display: flex;
}

.location-name {
  font-size: large;
}

.location-icon {
  height: 5vh;
}

.temp-container {
  display: flex;
}

.aqi-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
  margin-bottom: 5vh;
  border-radius: 38px;
  background: #97E8F7;
  box-shadow: inset 1px 3px 13px #1c2c2f57, inset -1px -6px 13px #ffffff8a;
  padding: 1vh;
  padding-bottom: 2vh;
}

.aqi-number {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 9vh;
  border-radius: 50%;
  line-height: 45vw;
  width: 45vw;
  height: 45vw;
  box-shadow: inset -5px -5px 10px #4044402e, inset 5px 5px 10px #ffffff5e;
}

.additional-info-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-row-gap: 4vh;
  justify-items: center;
  margin-bottom: 1vh;
  border-radius: 30px;
  background: #97E8F7;
  box-shadow: inset 1px 3px 13px #1c2c2f45, inset -5px -6px 13px #e1faff73;
  height: 20vh;
  width: 90vw;
  padding-top: 2vh;
}

.additional-info {
  display: flex;
}

.icon {
  height: 5vh;
  margin-right: 1vw;
}

.GOOD {
  background-color: #80FF72;
}

.MODERATE {
  background-color: #FFF07C;
}

.UNHEALTHY.FOR.SENSITIVE.GROUPS  {
  background-color: #FFB347;
}

.UNHEALTHY {
  background-color: #E58C8A;
}

.VERY.UNHEALTHY {
  background-color: #A24857;
}

.HAZARDOUS {
  background-color: #966FD6;
}
