@import "mixins";

.main-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
  
}

.location-name-temp-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.location-and-fav-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.location-container {
  display: flex;
  padding: 2%;
  border-radius: 33px;
  background: #97E8F7;
  box-shadow: -5px -5px 24px #89d3e1,
  5px 5px 24px #a5fdff;
  // border-radius: 28px;
  // background: linear-gradient(145deg, #89ff7a, #73e667);
  // box-shadow: 6px 6px 25px #72e365,
  // -6px -6px 25px #8eff7f;
}

.location-name {
  font-size: 1em;
}

.location-icon {
  height: 5vh;
}

.temp-container {
  display: flex;
  width: 35%;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
  // border-radius: 28px;
  // background: linear-gradient(145deg, #89ff7a, #73e667);
  // box-shadow: 6px 6px 25px #72e365,
  // -6px -6px 25px #8eff7f;
  border-radius: 33px;
  background: #97E8F7;
  box-shadow: -5px -5px 24px #89d3e1,
  5px 5px 24px #a5fdff;


    .weather-icon {
      width: 5vh;
    }

    .temperature {
      font-size: 1em;
    }
}

.aqi-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
  border-radius: 38px;
  background: #97E8F7;
  box-shadow: inset 5px 5px 13px #7abcc8,
  inset -5px -5px 13px #b4ffff;
  // border-radius: 33px;
  // background: #80FF72;
  // box-shadow: inset 6px 6px 12px #6edb62,
  // inset -6px -6px 12px #92ff82;
}

.aqi-number {
display: flex;
margin: 5%;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 45vw;
height: 45vw;
border-radius: 50%;
background: #80FF72;
box-shadow: inset -5px -5px 10px #4a9442,
inset 5px 5px 10px #b6ffa2;
// border-radius: 50%;
// background: linear-gradient(145deg, #73e667, #89ff7a);
// box-shadow: 6px 6px 33px #51a148,
// -6px -6px 33px #afff9c;
  
  .aqi-num {
    font-size: 5em;
    margin: 0;
  }

  .aqi-level {
    font-size: 1em;
    margin: 0;
  }

}

.aqi-description {
  width: 80%;
}

.additional-info-container {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
  grid-row-gap: 4vh;
  justify-items: center;
  border-radius: 38px;
  background: #97E8F7;
  box-shadow: inset 5px 5px 13px #7abcc8,
  inset -5px -5px 13px #b4ffff;
  // border-radius: 33px;
  // background: #80FF72;
  // box-shadow: inset 6px 6px 12px #6edb62,
  // inset -6px -6px 12px #92ff82;
}

.additional-info {
  display: flex;
  justify-content: center;
}

.icon {
  height: 5vh;
  margin-right: 1vw;
}

.GOOD {
  // background-color: #80FF72;
  background-color: #97E7F7;

}

.MODERATE {
  background-color: #FFF07C;
}

.UNHEALTHY.FOR.SENSITIVE.GROUPS  {
  background-color: #FFB347;
}

.UNHEALTHY {
  background-color: #E58C8A;
}

.VERY.UNHEALTHY {
  background-color: #A24857;
}

.HAZARDOUS {
  background-color: #966FD6;
}
