footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  align-items: center;
  background-color: #97E7F7;
  border-top: .1em solid black;
  width: 100vw;
}

.footerIcon {
  height: 2.4em;
  width: 2.4em;
}

p {
  font-size: 3em;
  justify-self: flex-start;
  margin-bottom: 1.5em;
}

p {

  text-decoration: none;
}