footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  align-items: center;
  background-color: #97E7F7;
  border-top: .1em solid black;
  width: 100vw;
}

.footerIcon {
  height: 3em;
  width: 3em;
  padding: 2%;
  border-radius: 24px;
  background: linear-gradient(145deg, #a2f7ff, #88d0de);
  box-shadow: 7px 7px 14px #83c9d7,
  -7px -7px 14px #abffff;
  
}
