.cards {
  display: flex;
  flex-direction: column;
  height: 80%;
  background: #97E7F7;
}

.allSaved {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #97E7F7;
}